CIV_DATA_ROOT="/root/.wine/drive_c/users/root/Documents/My Games/Sid Meier's Civilization 5"
DISCORD_WEBHOOK_ID_FILE="/run/secrets/discord_webhook_id"
DISCORD_WEBHOOK_TOKEN_FILE="/run/secrets/discord_webhook_token"
DISPLAY=:99
DXVK_FILTER_DEVICE_NAME="llvmpipe"
DXVK_FRAME_RATE=2
NTFY_TOPIC_FILE="/run/secrets/ntfy_topic"
STEAM_DLLS="steamclient.dll tier0_s.dll vstdlib_s.dll"
TZ="@TIMEZONE@"
XVFB_RESOLUTION=1600x900x24
